
.main {
    color: white;
    margin: 0;
    padding: 0;
}

.video-background video {
    width: 100%;
}

.main-text {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 3rem;
    background-color: transparent;
}