.skills {
    margin-top: -2rem;
    background: black;
    color: white;
}

.skills h1 {
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: -5rem;
}

.skills-wrapper {
    display: flex;
    justify-content: space-around;
}

.about_txt {
    width: 40%;
}

