.navbar__bigscreen {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: transparent;
  position: absolute;
  top: 1rem;
}

.navbar h1 {
  margin-left: 1rem;
}

.navbar__list ul {
  width: 20rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.navbar__bigscreen a {
  color: white;
  text-decoration: none;
}

.navbar__bigscreen a:hover {
  color: aqua;
  cursor: pointer;
}

.navbar__icons ul {
  display: flex;
  list-style: none;
  font-size: 2rem;
  width: 5rem;
  justify-content: space-between;
  margin-right: 2rem;
}

.navbar__icons li:hover {
  color: aqua;
  cursor: pointer;
  margin-top: 2px;
}

/* ----smallscreen---------- */

.navbar__smallscreen {
  display: none;
}

.navbar__smallscreen-hamburger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.hamburger {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .navbar__bigscreen {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .navbar__smallscreen {
    display: flex;
    background: transparent;
    color: white;
  }
}
/* ------hamburger clicked------ */

.navbar__smallscreen-overlay {
  position: absolute;
  width: 100%;
  background: black;
  z-index: 100;
}

.sm-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.sm-header h1 {
  font-size: 30px;
}
.x {
  font-size: 34px;
  cursor: pointer;
}

.navbar__list-sm li {
  padding: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  
}

.navbar__list-sm li:hover {
  background: rgb(53, 49, 49);
  cursor: pointer;
}

.navbar__list-sm a {
  font-size: 26px;
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;

}

.navbar__list-sm ul {
  list-style: none;
}


