.footer-info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(54, 54, 54);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}

.footer_icons ul {
  list-style: none;
}

.footer_icons a {
  color: white;
}

.footer-copyRight {
  text-align: center;
  color: white;
  background: rgb(54, 54, 54);
}

@media screen and (max-width: 550px) {
  .footer_text {
    font-size: 10px;
    padding: 0rem;
  }

  .footer_icons {
    margin-left: 3rem;
  }
}
